/*普通按钮、块级按钮*/

.mc-btn,
.mc-btn-block,
.mc-btn-small,
.mc-btn-big,
.mc-btn-large,
.mc-btn-block-small,
.mc-btn-block-big,
.mc-btn-block-large,
.mc-btn-ghost {
	margin: 5px;
	padding: .5em 1em;
	font-size: 16px;
	line-height: 1.2;
	font-weight: bold;
	border: none;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	text-align: center;
	color: #333;
}

.mc-btn,
button,
input[type=button] {
	display: inline-block;
	resize: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.mc-btn-block {
	padding: .5em 0;
}


/*不同尺寸的按钮*/


/*.mc-btn-small,
.mc-btn-big,
.mc-btn-large,
.mc-btn-block-small,
.mc-btn-block-big,
.mc-btn-block-large{
	margin: 5px;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	text-align: center;
	color: #333;
	filter:chroma(color=#000000);
}*/


/*重定义块级按钮的样式*/

.mc-btn-block,
.mc-btn-block-small,
.mc-btn-block-big,
.mc-btn-block-large {
	display: block;
	margin: 10px auto;
	width: 90%;
	min-width: 30%;
}


/*设置普通按钮的大小尺寸*/

.mc-btn-small {
	padding: .4em 1em;
	font-size: 15px;
}

.mc-btn-big {
	padding: .6em 1em;
	font-size: 17px;
}

.mc-btn-large {
	padding: .7em 1em;
	font-size: 18px;
}


/*设置块级按钮的大小尺寸*/

.mc-btn-block-small {
	padding: .4em 1em;
	font-size: 15px;
}

.mc-btn-block-big {
	padding: .6em 1em;
	font-size: 17px;
}

.mc-btn-block-large {
	padding: .7em 1em;
	font-size: 18px;
}


/*幽灵按钮样式*/

.mc-btn-ghost,
.mc-btn-ghost.mc-btn-default {
	color: #fff;
	background-color: transparent !important;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
}


/*默认样式hover*/


/*.mc-btn:hover,
.mc-btn:active,
.mc-btn-block:hover,
.mc-btn-block:active,
.mc-btn-small:hover,
.mc-btn-small:active,
.mc-btn-big:hover,
.mc-btn-big:active,
.mc-btn-large:hover,
.mc-btn-large:active,
.mc-btn-block-small:hover,
.mc-btn-block-small:active,
.mc-btn-block-big:hover,
.mc-btn-block-big:active,
.mc-btn-block-large:hover,
.mc-btn-block-large:active{
	background-color: #eee;
}*/


/*默认defaults*/

.mc-btn-default {
	border-color: #ccc;
	background-color: #fff;
	color: #333;
}

.mc-btn-default:hover,
.mc-btn-default:active {
	background-color: #eee;
	border-color: #eee;
}

.mc-btn-ghost.mc-btn-default {
	color: #fff;
}


/*推荐项primary*/

.mc-btn-primary {
	border-color: #337AB7;
	background-color: #337AB7;
	color: #fff;
}

.mc-btn-primary:hover,
.mc-btn-primary:active {
	background-color: #0C5B9F;
	border-color: #0C5B9F;
}
.mc-btn-ghost.mc-btn-primary {
	color: #337AB7;
}


/*成功success*/

.mc-btn-success {
	border-color: #34B434;
	background-color: #34B434;
	color: #fff;
}

.mc-btn-success:hover,
.mc-btn-success:active {
	background-color: #259A25;
	border-color: #259A25;
}

.mc-btn-ghost.mc-btn-success {
	color: #5CB85C;
}


/*信息info*/

.mc-btn-info {
	border-color: #5BC0DE;
	background-color: #5BC0DE;
	color: #fff;
}

.mc-btn-info:hover,
.mc-btn-info:active {
	background-color: #2FA0C1;
	border-color: #2FA0C1;
}

.mc-btn-ghost.mc-btn-info {
	color: #5BC0DE;
}


/*警告warning*/

.mc-btn-warning {
	border-color: #F0AD4E;
	background-color: #F0AD4E;
	color: #fff;
}

.mc-btn-warning:hover,
.mc-btn-warning:active {
	background-color: #CF7E0B;
	border-color: #CF7E0B;
}

.mc-btn-ghost.mc-btn-warning {
	color: #F0AD4E;
}


/*危险danger*/

.mc-btn-danger {
	border-color: #D9534F;
	background-color: #D9534F;
	color: #fff;
}

.mc-btn-danger:hover,
.mc-btn-danger:active {
	background-color: #BD2420;
	border-color: #BD2420;
}

.mc-btn-ghost.mc-btn-danger {
	color: #D9534F;
}


/*不可用状态*/

input[type=button]:disabled,
.mc-btn.disabled,
.mc-btn-block.disabled,
.mc-btn-big.disabled,
.mc-btn-block-big.disabled,
.mc-btn-small.disabled,
.mc-btn-block-small.disabled,
.mc-btn-large.disabled,
.mc-btn-block-large.disabled {
	background-color: #f2f2f2;
	color: #ccc;
	cursor: default;
}


/*圆角*/

.mc-btn-round {
	border-radius: 25px;
}


/*设置图标样式*/

.mc-btn i,
.mc-btn-block i,
.mc-btn-small i,
.mc-btn-big i,
.mc-btn-large i,
.mc-btn-block-small i,
.mc-btn-block-big i,
.mc-btn-block-large i,
.mc-btn-ghost i {
	margin-right: 5px;
}


/*特殊按钮*/

.mc-btn-menu,
.mc-btn-back,
.mc-btn-heart,
.mc-btn-remove,
.mc-btn-share,
.mc-btn-star,
.mc-btn-add{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #007aff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	color: #fff;
	margin: 5px;
	padding: 0;
}
.mc-btn-menu:after,
.mc-btn-back:after,
.mc-btn-heart:after,
.mc-btn-share:after,
.mc-btn-remove:after,
.mc-btn-star:after,
.mc-btn-add:after {
	display: inline-block;
	font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	font-size: 22px;
	position: relative;
	font-weight: bold;
}
.mc-btn-menu:after {
	content: "\f0c9";
}
.mc-btn-back:after {
	content: "\f053";
}
.mc-btn-heart:after{
	content: "\f004";
}
.mc-btn-add:after{
	content: "\f067";
}
.mc-btn-remove:after{
	content: "\f00d";
}
.mc-btn-share:after{
	content: "\f1e0";
}
.mc-btn-star:after{
	content: "\f005";
}
