.mc-bubble{
	width: 100px;
	height: 50px;
	display: block;
	margin: 20px;
	padding: 10px;
	position: relative;
	background-color: rgba(6,6,6,.5);
	color: #fff;
}
.mc-bubble-top:after,
.mc-bubble-bottom:after,
.mc-bubble-left:after,
.mc-bubble-right:after{
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
}
.mc-bubble-top:after{
	border-top-color: rgba(6,6,6,.5);
	left: 10px;
	bottom: -20px;
}
.mc-bubble-bottom:after{
	border-bottom-color: rgba(6,6,6,.5);
	left: 10px;
	top: -20px;
}
.mc-bubble-left:after{
	border-left-color: rgba(6,6,6,.5);
	right: -20px;
	top: 10px;
}
.mc-bubble-right:after{
	border-right-color: rgba(6,6,6,.5);
	left: -20px;
	top: 10px;
}
