input[type=checkbox],
input[type=radio]{
	display: none;
}
/*普通单选*/
.mc-check-radio,
.mc-check-checkbox{
	display: block;
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-indent:25px;
	font-size: 18px;
	cursor: pointer;
}
.mc-list-item .mc-check-radio:before,
.mc-list-item .mc-check-radio.mc-checked:before,
.mc-list-item .mc-check-checkbox:before,
.mc-list-item .mc-check-checkbox.mc-checked:before{
	left: -10px;
}
.mc-check-radio:before,
.mc-check-checkbox:before,
.mc-check-checkbox.mc-checked:before,
.mc-check-radio.mc-checked:before{
	display: inline-block;
	font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	font-size: 20px;
	left: -25px;
	position: absolute;
	margin-top: 11px;
	color: #007aff;
}
.mc-check-radio:before{
	content: "\f1db";
	color: #aaa;
}
.mc-check-radio.mc-checked:before{
	content: "\f058";
}
.mc-check-checkbox:before{
	content: "\f096";
	color: #aaa;
}
.mc-check-checkbox.mc-checked:before{
	content: "\f14a";
}
.mc-check-radio.mc-disabled,
.mc-check-radio.mc-disabled:before,
.mc-check-checkbox.mc-disabled,
.mc-check-checkbox.mc-disabled:before{
	color: #e8e8e8;
}
/*块级选择*/
.mc-block-radio,
.mc-list-item .mc-block-radio,
.mc-block-checkbox,
.mc-list-item .mc-block-checkbox{
	display: inline-block;
	min-width: 45px;
	padding: 2px 10px;
	width: auto;
	min-height: 30px;
	line-height: 30px;
	text-align: center;
	height: auto;
	color: #3C3C3C;
	border: 1px solid #DCDCDC;
	margin: 5px;
	background-color: #fff;
}
.mc-block-radio.mc-checked,
.mc-list-item .mc-block-radio.mc-checked{
	border: 1px solid #007aff;
	color: #007aff;
}
.mc-block-checkbox.mc-checked,
.mc-list-item .mc-block-checkbox.mc-checked{
	border: 1px solid #007aff;
	color: #007aff;
}
.mc-block-checkbox.mc-checked:before,
.mc-list-item .mc-block-checkbox.mc-checked:before,
.mc-block-radio.mc-checked:before,
.mc-list-item .mc-block-radio.mc-checked:before{
	display: inline-block;
	font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	font-size: 16px;
	margin-right: 5px;
	color: #007aff;
}
.mc-block-checkbox.mc-checked:before,
.mc-list-item .mc-block-checkbox.mc-checked:before{
	content: "\f00c";
}
.mc-block-radio.mc-checked:before,
.mc-list-item .mc-block-radio.mc-checked:before{
	font-size: 18px;
	content: "\f05d";
}
/*.mc-block-checkbox.mc-checked:before,
.mc-list-item .mc-block-checkbox.mc-checked:before{
	display: inline-block;
	width: 0;
    height: 0;
    border-top: 20px solid #44ABE5;
    border-left: 20px solid transparent; 
	left: 54px;
	top: -3px;
	position: relative;
	content: "";
	z-index: 8;
}*/
.mc-block-radio.mc-disabled,
.mc-list-item .mc-block-radio.mc-disabled,
.mc-block-checkbox.mc-disabled,
.mc-list-item .mc-block-checkbox.mc-disabled{
	border: 1px solid #e8e8e8;
	color: #e8e8e8;
}
