.mc-footer{
	height: auto;
	background-color: #32374d;
	min-height: 70px;
	padding-top: 30px;
}
/*footer顶部logo*/
.mc-footer-img{
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
/*footer内容*/
.mc-footer-content{
	padding-bottom: 10px;
	text-align: center;
}
.mc-footer-content p{
	width: 100%;
	display: block;
	color: #fff;
}
.mc-footer-content span{
	color: #fff;
	display: inline-block;
	margin-top: 25px;
	padding-right: 10px;
}
.mc-footer-content span:last-child{
	padding-right: 0;
}
