.w-350{
	width: 350px;
	margin: 0 auto;
}
.w-820{
	width: 820px;
	margin: 0 auto;
}
.box{
	border: 1px solid #ccc;
	height: auto;
	width: auto;
	overflow: hidden;
}
/*公共可以使用的css样式*/
.mc-radius{
	border-radius: 4px;
}
.mc-align-left{
	text-align: left;
}
.mc-align-right{
	text-align: right;
}
.mc-align-center{
	text-align: center;
}
/*三角形*/
.mc-triangle {
	display: block;
	width: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width: 20px;
	border-color: transparent;
	_border-color: tomato;
	_filter: chroma(color=tomato);
}
.mc-triangle-top {
	border-style: solid dashed dashed dashed;
	border-top-color: #44abe5;
}
.mc-triangle-right {
	border-style: dashed solid dashed dashed;
	border-right-color: #44abe5;
}
.mc-triangle-bottom {
	border-style: dashed dashed solid dashed;
	border-bottom-color: #44abe5;
}
.mc-triangle-left {
	border-style: dashed dashed dashed solid;
	border-left-color: #44abe5;
}
/*公共颜色*/
/*推荐项primary*/
.mc-primary{
	color: #337AB7;
}
/*成功success*/
.mc-success{
	color: #5CB85C;
}
/*信息info*/
.mc-info{
	color: #5BC0DE;
}
/*警告warning*/
.mc-warning{
	color: #F0AD4E;
}
/*危险danger*/
.mc-danger{
	color: #D9534F;
}
