.content {
	width: 1000px;
	display: block;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
/*公共可以使用的css样式*/
.mc-radius{
	border-radius: 4px;
}
.mc-align-left{
	text-align: left;
}
.mc-align-right{
	text-align: right;
}
.mc-align-center{
	text-align: center;
}
