.w-350{
	width: 350px;
	margin: 0 auto;
}
.w-820{
	width: 820px;
	margin: 0 auto;
}
.box{
	border: 1px solid #ccc;
	height: auto;
	width: auto;
	overflow: hidden;
}
/*公共可以使用的css样式*/
.mc-radius{
	border-radius: 4px;
}
.mc-align-left{
	text-align: left;
}
.mc-align-right{
	text-align: right;
}
.mc-align-center{
	text-align: center;
}
