.mc-nav {
	/*盒模型*/
	display: -webkit-box;
	display: -moz-box;
	display: box;
	/*横向or纵向*/
	-webkit-box-orient: horizontal;
	/*属性值：[horizontal]横向/[vertical]纵向*/
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	margin: auto;
	border: none;
	width: 100%;
	border-top: 1px solid #ccc;
}
.mc-nav.mc-nav-three{
	height: 125px;
}
.mc-nav.mc-nav-four{
	height: 93px;
}
.mc-nav:last-child{
	border-bottom: 1px solid #ccc;
}
.mc-nav-item{
	/*占有比例*/
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
	line-height: 100%;
	color: #fff;
	border-right:1px solid #ccc;
}
.mc-nav-item:last-child{
	border-right: none;
}
.mc-nav-item a{
	display: block;
	border-radius: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
.mc-nav-item a:active{
	background-color: #eee;
}
/*内容*/
.mc-nav-content{
	display: block;
	width: 100%;
	min-width:70px;
	height: 93px;
	margin: 0 auto;
	border-radius: 0;
	color: #555;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
.mc-nav.mc-nav-three .mc-nav-content{
	height: 125px;
}
.mc-nav.mc-nav-four .mc-nav-content{
	height: 93px;
}
.mc-nav-content:active{
	background-color: #ccc;
}
.mc-nav-content i{
	width: 100%;
	font-size: 2em;
	height: 105px;
	display: -webkit-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	pointer-events: none;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
}
.mc-nav.mc-nav-three .mc-nav-content i{
	height: 95px;
}
.mc-nav.mc-nav-four .mc-nav-content i{
	height: 63px;
}
.mc-nav-name{
	display: block;
	height: 30px;
	width: 100%;
	font-weight: bold;
}
