.mc-panel{
	display: block;
	width: 95%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #eaeaea;
}
.mc-panel-title{
	display: block;
	width: auto;
	border-bottom: 1px solid #eaeaea;
	font-size: 18px;
    color: #666;
    background-color: #fbfbfb;
    margin: 0;
    padding: 11px 15px 10px;
}
.mc-panel-content{
	display: block;
	height: auto;
	width: auto;
	border-top: none;
}
