.mc-panel{
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}
.mc-panel.mc-no-border{
	border: none;
}
.mc-panel-title{
	display: block;
	width: auto;
	height: 42px;
	font-size: 16px;
	line-height: 42px;
	text-indent: 15px;
    color: #777;
    background-color: #eee;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.mc-no-border .mc-panel-title{
	border-bottom: none;
}
.mc-panel-content{
	display: block;
	height: auto;
	width: auto;
	position: relative;
	padding:10px 15px;
}
.mc-panel-content p{
	margin: 0;
	padding: 3px;
}
